

.links li {
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    margin-right: 30px;
}

.par {
    width: 100%;
    height: 320px;
    background: #000;
    padding: 50px;
}

.cizgi {
    border-bottom: 1px solid #999;
}

.hakkinda {
    width: 300px;
    height: 200px;
    background: #999;
}